.movie-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
}

.movie-item {
    display: flex;
    width: 25%;
    height: auto;
    padding: 8px;
    flex-direction: column;
    border-radius: 10px;
    transition: all .2s;

    &:hover {
        background-color: lightblue;
    }

    &:active {
        background-color: lightcyan;
    }
}

@media (max-width: 700px) {
    .movie-item {
        width: 33%
    }
}

@media (max-width: 500px) {
    .movie-item {
        width: 50%
    }
}

.movie-cover {
    display: flex;
    margin-bottom: 8px;
    width: 100%;
    padding-bottom: 150%;

    background-size: cover;
    background-position: center;
    border-radius: 10px;
    pointer-events: none;

    .movie-year {
        color: white;
        padding: 8px;
        background-color: #1751a3;
        border-radius: 10px;
        margin: 8px;
        margin-left: auto;
    }
}

.movie-data {
    display: flex;
    flex-direction: column;
    color: #444;

    & > * {
        margin-bottom: 8px;
    }

    .movie-name {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .movie-year {
        font-size: .9rem;
        font-weight: 600;
    }
}