<div class="container">
    <div class="movie-container">
        <div class="navbar">
            <button (click)="onBack()">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
                </svg>
            </button>
        </div>
        <div class="data-container">
            <div class="left-side">
                <img [src]="movie.poster" alt="Movie poster">
            </div>
            <div class="right-side">
                <span class="movie-year">{{movie.ano}} - {{movie.genero}}</span>
                <span class="movie-name">{{movie.nome}}</span>
                <span class="movie-director">{{movie.diretor}}</span>
                <span class="movie-description">{{movie.descricao}}</span>
            </div>
        </div>
    </div>
</div>